@page
@model PokemonWebApp.Pages.Pokemons.IndexModel
@{
}

<div class="container">
    <h2 class="text-center"> POKÉMONS</h2>
    <hr>
    <a class="btn btn-outline-primary align-content-center" asp-page="/Pokemons/Create"><b>Novo</b></a> <!-- insere botão que chama uma página -->
    <hr>

    <!-- insere os dados dos pokemons um por um enquanto existir pokemons no banco de dados da memória-->
    <section class="d-flex">
        @foreach (var data in Model.Pokemons)
        {
            <div class="pokemon-picture">
                <img src="@Html.DisplayFor(modelItem => data.Imagem)" alt="Imagem do @Html.DisplayFor(modelItem => data.Imagem)">
            </div>
            <div class="pokemon-info">
                <table>
                    <tr><td>@Html.DisplayFor(modelItem => data.ID) <h3> @Html.DisplayFor(modelItem => data.Nome)</h3></td></tr>
                    <tr><td><b>Tipo:</b> @Html.DisplayFor(modelItem => data.Tipo)</td></tr>
                    <tr><td><b>Habilidade:</b> @Html.DisplayFor(modelItem => data.Poderes)</td></tr>
                    <tr><td><a class="btn btn-outline-primary" asp-page="/Pokemons/Detail" asp-route-id="@data.ID"><b> Ver </b></a></td></tr>
                </table>
            </div>


        }
    </section>
</div>